.layout {
	display: grid;
	grid-template-columns: auto minmax(280px, 1200px) auto;
	grid-template-rows: 80px auto 56px;

	min-height: 100vh;
	grid-template-areas:
		"header header header"
		". app ."
		"footer footer footer";
}
